#cart {
    padding-bottom: 145px;
}

h3 {
    font-family: $robotoFont;
    font-style: normal;
    font-weight: normal;

    color: $darkColor;

    span.number {
        font-size: 50px;
        line-height: 59px;
    }

    span.text {
        font-size: 18px;
        line-height: 21px;
    }
}

.order {
    background: $darkColor;
    border: 1px solid $darkColor;
    box-sizing: border-box;

    font-family: $robotoFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #ffffff;
    padding: 14px 48px;
}

.cart-items {
    max-height: 285px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px;
}

.toggle-quantity {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: space-evenly;

    button {
        border: 0;
        background-color: transparent;
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        cursor: pointer;
        margin: auto;
        color: $darkColor;
        text-decoration: none;
    }

    p,
    button {
        font-family: $robotoFont;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;

        color: $darkColor;

        margin: auto 2px;
        text-decoration: none;
    }

    p {
        border: 1px solid $darkColor;
        box-sizing: border-box;
        padding: 0 5px;
    }
}

.cart-total {
    font-family: $robotoFont;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;

    color: $darkColor;
}

.small-sum,
.small-value {
    font-family: $robotoFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: $darkColor;
}

.remove-from-chart {
    span {
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        cursor: pointer;
        margin: auto;
        color: $darkColor;
        text-decoration: none;
    }
}

label {
    font-family: $robotoFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    width: 100%;

    color: $darkColor;
}

input.form-control,
textarea.form-control {
    background: transparent;
    border: 2px solid $darkColor;
    box-sizing: border-box;
    border-radius: 0;

    font-family: $robotoFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: $darkColor;
    width: 100%;

    margin: 5px auto 10px auto;
}

input[type="radio"] {
    cursor: pointer;
}

.form-check-label {
    cursor: pointer;
}

textarea.form-control {
    height: 100px;
}

.success {
    h5 {
        font-family: $robotoFont;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;

        text-align: center;
        text-transform: uppercase;

        color: $blackColor;
    }

    p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        text-align: center;

        color: $blackColor;
    }

    .backToHome {
        height: 48px;
        width: 240px;

        margin-top: 100px;
        padding: 14px 0px;

        background: $blackColor;
        border: 1px solid $blackColor;
        box-sizing: border-box;

        font-family: $robotoFont;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        color: #ffffff;
    }

    .animation-ctn {
        text-align: center;
        margin: 200px auto 50px auto;
        height: 150px;
        width: 150px;
    }

    @-webkit-keyframes checkmark {
        0% {
            stroke-dashoffset: 100px;
        }

        100% {
            stroke-dashoffset: 200px;
        }
    }

    @-ms-keyframes checkmark {
        0% {
            stroke-dashoffset: 100px;
        }

        100% {
            stroke-dashoffset: 200px;
        }
    }

    @keyframes checkmark {
        0% {
            stroke-dashoffset: 100px;
        }

        100% {
            stroke-dashoffset: 0px;
        }
    }

    .inlinesvg .svg svg {
        display: inline;
    }

    .icon--order-success svg polyline {
        -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
        animation: checkmark 0.25s ease-in-out 0.7s backwards;
    }
}