.crop {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content {
  margin: 20px 0;
}

.ingredients {
  height: 32px;
}

.card {
  width: calc(100% / 5);
  float: left;
  height: auto;
  padding: 0 10px;
  margin: 20px 0;

  border: 0;

  background-color: transparent;

  .card-img-top {
    background-color: $darkColor;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    max-width: 150px;
    min-width: 150px;
    height: 150px;
    width: 100%;
    max-height: 150px;

    margin-bottom: 5px;
  }
}

.card-body {
  padding: 0;
}

.card-title {
  font-family: $robotoFont;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  text-transform: uppercase;

  color: $lightColor;

  margin-top: 5px;
  margin-bottom: 5px;
}

.card-text {
  font-family: $robotoFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: $lightColor;

  margin-bottom: 10px;

  &.cost {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
  }
}

.curency {
  font-size: 12px !important;
  line-height: 14px !important;
  font-weight: normal;
}

.quantity {
  float: right;
  margin-right: 15px;
}

.btn {
  font-family: $robotoFont;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: $lightColor;

  padding: 5px 8px;

  border: 2px solid $lightColor;
  box-sizing: border-box;
  @include easeInOut;

  &:hover {
    color: $darkColor;
    background: $lightColor;
  }
}


@media screen and (max-width: 1200px) {
  .card {
    width: calc(100% / 4);

  }
}

@media screen and (max-width: 991px) {
  .card {
    width: calc(100% / 3);

  }
}

@media screen and (max-width: 767px) {
  .card {
    width: calc(100% / 2);

  }
}

@media screen and (max-width: 576px) {
  .card {
    width: calc(100% / 3);


    .card-img-top {

      max-width: 100px;
      min-width: 100px;
      height: 100px;
      width: 100%;
      max-height: 100px;


    }
  }

  .card-title {
    font-size: 12px;
    line-height: 14px;
  }

  .card-text {


    &.cost {
      font-size: 18px;
      line-height: 21px;
      text-align: center;
    }
  }

  .btn {
    width: 110px;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    margin: auto;
  }
}



@media screen and (max-width: 408px) {
  .card {
    width: calc(100% / 2);

    button.btn {
      width: 130px;
    }

  }
}