.image-container {
    min-height: calc(100vh - 150px);
    max-height: 820px;

    object-fit: cover;
    object-position: left center;
}

.content-text {
    overflow: hidden;
    box-sizing: border-box;
}

img {
    width: 100%;
}

h1 {
    font-family: $segoeFont;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 106px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 0;

    color: $blackColor;
}

p {
    font-family: $robotoFont;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 110%;

    color: $blackColor;
}

a {
    text-decoration: none;
    ;
}

@media (min-width: 1280px) {
    .content-text {
        width: 80%;
        padding: 0 50px;
    }
}

@media (max-width: 1280px) {

    h1 {
        font-size: 60px;
        line-height: 80px;
    }

    p {
        font-size: 24px;
    }

    .content-text {
        width: 90%;
        padding: 0 20px;
    }
}

@media (max-width: 992px) {
    .content-text {
        width: 80%;
        padding: 0 20px;
    }

    .image-container {
        min-height: 300px;
        max-height: 300px;
        height: 100%;

        object-fit: cover;
        object-position: center;
    }

    img {
        object-fit: cover;
        width: 100%;
    }

    h1 {
        font-size: 60px;
        line-height: 80px;
    }

    p {
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    .image-container {
        min-height: 250px;
        max-height: 250px;
        height: 100%;

        object-fit: cover;
        object-position: center;
    }

    h1 {
        font-size: 40px;
        line-height: 53px;
    }

    p {
        font-size: 18px;
        line-height: 140.4%;
    }

    .content-text {
        margin: 10px auto 20px auto;
    }
}