a,
a.nav-link {
    font-family: $robotoFont;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-decoration: none;

    color: $blackColor;
}

option {
    text-align: left;
    /* reset to left*/
}

select {
    background: transparent;
    border: 2px solid $blackColor;
    background-image: url("~assets/img/select.png");
    background-position: 72% center;
    background-repeat: no-repeat;
    box-sizing: border-box;

    font-family: $robotoFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-align-last: center;

    color: $blackColor;
    padding: 14px 48px;

    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    cursor: pointer;

    &.active,
    &:focus {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
    }

    &#time {
        padding: 14px 10px;
        margin: 10px auto;
    }

    &#number-of-people {
        padding: 14px 10px;
        margin: 10px auto;
    }
}

select option {
    background-color: $lightColor;
    color: $darkColor;
    text-align: center;
    white-space: pre-line;
    font-weight: 400;
}

input {
    background: transparent;
    border: 2px solid $blackColor;
    box-sizing: border-box;

    font-family: $robotoFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: $blackColor;
    padding: 14px 20px;
    margin: 10px auto;
}

.order {
    background: $blackColor;
    border: 2px solid $blackColor;
    box-sizing: border-box;

    font-family: $robotoFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #ffffff;
    padding: 14px 48px;
}

.seeAll button {
    background: transparent;
    border: 2px solid $blackColor;
    box-sizing: border-box;

    font-family: $robotoFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: $blackColor;
    padding: 14px 48px;
}

.close-hamburger,
.close-navbar-hamburger {
    margin-bottom: 50px;
    cursor: pointer;
}

.cart-body {
    h3 {
        font-family: $robotoFont;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 35px;

        color: $darkColor;
    }
}

.reservation-body {
    h5 {
        font-family: $robotoFont;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;

        letter-spacing: 0.05em;

        color: $darkColor;
    }
}

.toggle-quantity {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: space-evenly;

    button {
        border: 0;
        background-color: transparent;
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        cursor: pointer;
        margin: auto;
        color: $darkColor;
        text-decoration: none;
    }

    p,
    button {
        font-family: $robotoFont;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;

        color: $darkColor;

        margin: auto 2px;
        text-decoration: none;
    }

    p {
        border: 2px solid $blackColor;
        box-sizing: border-box;
        padding: 0 5px;
    }
}

.remove-from-chart {
    span {
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        cursor: pointer;
        margin: auto;
        color: $darkColor;
        text-decoration: none;
    }
}

header {
    background-size: cover;
    background-color: $darkColor;
    width: 100vw;
    min-height: 100px;
    height: 100%;
    max-height: 100px;
    right: 0;
    left: 0px;
    top: 0px;
    position: fixed;
    padding: 20px 50px;
    box-shadow: none;
    transform: translate3d(0, 0, 0);
    transition: 0.1s all ease-out;
    z-index: 2;
}

.reservation-btn {
    border: 2px solid $lightColor;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    @include cubicBezier;

    border-radius: 0;
    box-sizing: border-box;

    background-color: transparent;

    padding: 14px 50px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: $lightColor;

    margin: auto 60px auto 0;
}

.theHeader-nav-brand img {
    left: 50%;
    position: absolute;

    transform: translateX(-50%);

    min-height: 60px;
    max-height: 60px;
    height: 100%;
}

.theHead-nav-toggle {
    margin: auto 0;
    outline: 0;
    text-decoration: none;

    &.cart {
        display: inline-block;
        margin: auto 0;
        margin-top: 10px;
    }
}

#show-total {
    span {
        padding: 0px 5px;
        background-color: $goldColor;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: relative;

        font-family: $robotoFont;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-decoration: none !important;

        color: $darkColor;
        text-align: center;
    }
}

.navbar {
    position: fixed;
    top: 0;
    display: block;

    @include easeInOut;
    transform: translateX(-100%);

    padding: 30px 50px;
    background: $lightColor;

    height: 100vh;
    width: 430px;
    left: 0;
    top: 0px;
}

.navbar-right {
    position: fixed;
    top: 0;
    right: 0;

    @include easeInOut;
    transform: translateX(100%);

    padding: 30px 50px;
    background: $lightColor;

    overflow-y: scroll;
    scrollbar-width: none;
    height: 100vh;
    width: 430px;
    right: 0;
    top: 0px;
    bottom: 0;

    ::-webkit-scrollbar-track {
        box-shadow: none;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        background-color: $backgroudColor;
    }

    ::-webkit-scrollbar {
        border-radius: 50px;
        width: 0;
        background-color: $backgroudColor;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 50px;
        box-shadow: none;
        background-color: rgb(149, 150, 150);
    }
}

.btn-hamburger {
    margin: auto 0;
    cursor: pointer;

    img {
        height: 40px;
        width: 40px;
    }
}

.navbar-right-open {
    transform: translateX(0);
}

.navbar-open {
    transform: translateX(0);
}

.close-hamburger {
    display: block;
}

.close-navbar-hamburger {
    display: block;
}

.form-total {
    .cart-total {
        font-family: $robotoFont;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;

        color: $darkColor;
    }

    .small-sum,
    .small-value {
        font-family: $robotoFont;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        color: $darkColor;
    }
}

.cart-form {
    label {
        font-family: $robotoFont;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        color: $darkColor;
    }

    input.form-control,
    textarea.form-control {
        background: transparent;
        border: 2px solid $darkColor;
        box-sizing: border-box;
        border-radius: 0;

        font-family: $robotoFont;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        color: $darkColor;
        width: 100%;

        margin: 5px auto 10px auto;
    }

    input[type="radio"] {
        cursor: pointer;
    }

    .form-check-label {
        cursor: pointer;
    }

    textarea.form-control {
        height: 100px;
    }

    .send-order {
        margin-top: 40px;
    }
}

.success {
    h5 {
        font-family: $robotoFont;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;

        text-align: center;
        text-transform: uppercase;

        color: $blackColor;
    }

    p {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;

        text-align: center;

        color: $blackColor;
    }

    .backToHome {
        height: 48px;
        width: 240px;

        margin-top: 100px;
        padding: 13px 0px;

        background: $blackColor;
        border: 1px solid $blackColor;
        box-sizing: border-box;

        font-family: $robotoFont;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        color: #ffffff;
    }

    .animation-ctn {
        text-align: center;
        margin: 80px auto 120px auto;
        height: 101px;
        width: 101px;
    }

    @-webkit-keyframes checkmark {
        0% {
            stroke-dashoffset: 100px;
        }

        100% {
            stroke-dashoffset: 200px;
        }
    }

    @-ms-keyframes checkmark {
        0% {
            stroke-dashoffset: 100px;
        }

        100% {
            stroke-dashoffset: 200px;
        }
    }

    @keyframes checkmark {
        0% {
            stroke-dashoffset: 100px;
        }

        100% {
            stroke-dashoffset: 0px;
        }
    }

    .inlinesvg .svg svg {
        display: inline;
    }

    .icon--order-success svg polyline {
        -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
        animation: checkmark 0.25s ease-in-out 0.7s backwards;
    }
}

@include mediaSm {
    header {
        background-size: cover;
        background-color: $darkColor;
        width: 100vw;
        min-height: 60px;
        height: 60%;
        max-height: 100px;
        right: 0;
        left: 0px;
        top: 0px;
        position: fixed;
        padding: 20px 40px;
        transform: translate3d(0, 0, 0);
        transition: 0.1s all ease-out;
        z-index: 2;
    }

    .btn-hamburger {
        margin: auto 0;
        cursor: pointer;

        img {
            height: 30px;
            width: 30px;
        }
    }

    .theHead-nav-toggle {
        &.cart {
            img {
                height: 30px;
                width: 30px;
            }
        }
    }

    #show-total {
        span {
            padding: 0.5px 5px;
            background-color: $goldColor;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            position: relative;

            font-size: 12px;
            line-height: 15px;

            color: $darkColor;
            text-align: center;
        }
    }

    a,
    .nav-link {
        font-size: 18px;
        line-height: 21px;
    }

    .navbar {
        position: fixed;
        top: 0;
        display: block;

        transition: all 0.3s linear;
        transform: translateX(-100%);

        padding: 15px 20px;
        background: $lightColor;

        height: 100vh;
        width: 430px;
        left: 0;
        top: 0px;
        bottom: 0;
    }

    .theHeader-nav-brand img {
        min-height: 50px;
        max-height: 50px;
    }

    .navbar-right {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;

        @include easeInOut;
        transform: translateX(100%);

        padding: 15px 15px 40px 15px;
        background: $lightColor;

        overflow-y: scroll;
        overflow-x: hidden;
        height: 100vh;

        right: 0;
        width: 100vw;
        bottom: 0;
    }

    .navbar-right-open {
        transform: translateX(0);
    }

    .navbar-open {
        transform: translateX(0);
    }
}