.grid figure {
    position: relative;
    float: left;
    overflow: hidden;

    text-align: center;
    cursor: pointer;

    width: calc(100vw / 3);

    @media (max-width: 1024px) {
        height: 100px;
    }

    @media (max-width: 750px) {
        width: calc(100vw / 2);
    }
}

.grid figure img {
    position: relative;
    display: block;
    height: 150px;

    width: calc(100vw / 3);

    @media (max-width: 750px) {
        width: calc(100vw / 2);
    }
}

.grid figure .imageHolder {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    height: 150px;

    width: calc(100vw / 3);

    &.home {
        background-image: url(~assets/img/navHome.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navHomeMedium.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navHomeSmall.jpg);
        }
    }

    &.menu {
        background-image: url(~assets/img/navMenu.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navMenuMedium.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navMenuSmall.jpg);
        }
    }

    &.pf-menu {
        background-image: url(~assets/img/navMenu-pasta-fresca.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navMenuMedium-pasta-fresca.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navMenuSmall-pasta-fresca.jpg);
        }
    }

    &.lr-menu {
        background-image: url(~assets/img/navMenu-le-rock.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navMenuMedium-le-rock.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navMenuSmall-le-rock.jpg);
        }
    }

    &.food-delivery {
        background-image: url(~assets/img/navDelivery.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navDeliveryMedium.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navDeliverySmall.jpg);
        }
    }

    &.pf-food-delivery {
        background-image: url(~assets/img/navDelivery-pasta-fresca.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navDeliveryMedium-pasta-fresca.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navDeliverySmall-pasta-fresca.jpg);
        }
    }

    &.lr-food-delivery {
        background-image: url(~assets/img/navDelivery-le-rock.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navDeliveryMedium-le-rock.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navDeliverySmall-le-rock.jpg);
        }
    }

    &.about {
        background-image: url(~assets/img/navAboutUs.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navAboutUsMedium.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navAboutUsSmall.jpg);
        }
    }

    &.pf-about {
        background-image: url(~assets/img/navAboutUs-pasta-fresca.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navAboutUsMedium-pasta-fresca.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navAboutUsSmall-pasta-fresca.jpg);
        }
    }


    &.lr-about {
        background-image: url(~assets/img/navAboutUs-le-rock.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navAboutUsMedium-le-rock.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navAboutUsSmall-le-rock.jpg);
        }
    }

    &.atmosphere {
        background-image: url(~assets/img/navAtmosphere.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navAtmosphereMedium.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navAtmosphereSmall.jpg);
        }
    }

    &.pf-Atmosphere {
        background-image: url(~assets/img/navAtmosphere-pasta-fresca.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navAtmosphereMedium-pasta-fresca.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navAtmosphereSmall-pasta-fresca.jpg);
        }
    }

    &.lr-Atmosphere {
        background-image: url(~assets/img/navAtmosphere-le-rock.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navAtmosphereMedium-le-rock.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navAtmosphereSmall-le-rock.jpg);
        }
    }


    &.contact {
        background-image: url(~assets/img/navContact.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navContactMedium.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navContactSmall.jpg);
        }
    }

    &.pf-contact {
        background-image: url(~assets/img/navContact-pasta-fresca.jpg);

        @media (max-width: 767px) {
            background-image: url(~assets/img/navContactMedium-pasta-fresca.jpg);
        }

        @media (max-width: 440px) {
            background-image: url(~assets/img/navContactSmall-pasta-fresca.jpg);
        }
    }

    @media (max-width: 750px) {
        width: calc(100vw / 2);
        background-position: inherit;
        background-size: auto;
    }
}

.grid figure figcaption {
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption>span {
    z-index: 1;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    background: #000000;
    opacity: 0.35;
}

.grid figure h2,
.grid figure h1 {
    font-family: $segoeFont;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #ffffff;

    opacity: 0.5;
}

.grid figure h2,
.grid figure h1 {
    margin: 0;
}

figure.saddleEffect figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.483146) 22.4%,
            #5e4732 44.39%,
            #8f6a48 71.84%,
            #e0a671 100%);
    opacity: 0;
    content: "";

    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
}

figure.saddleEffect h2,
figure.saddleEffect h1 {
    font-family: $segoeFont;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #ffffff;

    opacity: 0.5;

    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;

    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

figure.saddleEffect figcaption::before {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.saddleEffect:hover h2,
.nuxt-link-exact-active figure.saddleEffect h2,
figure.saddleEffect:hover h1,
.nuxt-link-exact-active figure.saddleEffect h1 {
    font-family: $segoeFont;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #ffffff;

    opacity: 1;

    -webkit-transform: translate3d(0, -80%, 0) translate3d(0, -40px, 0);
    transform: translate3d(0, -60%, 0) translate3d(0, -40px, 0);
}

figure.saddleEffect:hover figcaption::before,
.nuxt-link-exact-active figure.saddleEffect figcaption::before {
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.483146) 22.4%,
            #5e4732 44.39%,
            #8f6a48 71.84%,
            #e0a671 100%);
    opacity: 0.55;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

section {
    overflow: hidden;
}

@media (max-width: 1024px) {

    figure.saddleEffect h2,
    figure.saddleEffect h1 {
        font-family: $segoeFont;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.2em;
        text-transform: uppercase;

        color: #ffffff;

        opacity: 0.8;

        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
    }

    figure.saddleEffect:hover h2,
    .nuxt-link-exact-active figure.saddleEffect h2,
    figure.saddleEffect:hover h1,
    .nuxt-link-exact-active figure.saddleEffect h1 {
        font-family: $segoeFont;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.2em;
        text-transform: uppercase;

        color: #ffffff;

        opacity: 1;

        position: absolute;

        -webkit-transform: translate3d(0, 90%, 0) translate3d(0, -50px, 0);
        transform: translate3d(0, 90%, 0) translate3d(0, -30px, 0);
    }

    .grid figure figcaption>span {
        z-index: 1;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        background: #000000;
        opacity: 0.25;
    }
}

@media (max-width: 767px) {
    .image-Navigation {
        margin-top: 99px;
    }

    .grid figure h2,
    .grid figure h1 {
        opacity: 1 !important;
    }

    .grid figure {
        max-height: 90px;
    }

    figure.saddleEffect figcaption::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: linear-gradient(180deg, $darkColor 0%, $darkColor 100%);

        opacity: 0.35;
        content: "";

        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    figure.saddleEffect h2,
    figure.saddleEffect h1 {
        font-family: $segoeFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.2em;
        text-transform: uppercase;

        color: #ffffff;

        opacity: 1;

        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
    }

    figure.saddleEffect:hover h2,
    .nuxt-link-exact-active figure.saddleEffect h2,
    figure.saddleEffect:hover h1,
    .nuxt-link-exact-active figure.saddleEffect h1 {
        font-family: $segoeFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.2em;
        text-transform: uppercase;

        color: #ffffff;

        opacity: 1;

        position: absolute;

        -webkit-transform: translate3d(0, 90%, 0) translate3d(0, -50px, 0);
        transform: translate3d(0, 90%, 0) translate3d(0, -30px, 0);
    }

    .grid figure figcaption>span {
        z-index: 1;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        background: #000000;
        opacity: 0;
    }
}

@media (max-width: 440px) {

    .grid figure {
        max-height: 66px;
    }

}