.language-nav {
    position: absolute;
    bottom: 6.25rem;
    left: 50%;
    transform: translateX(-50%);
}

.language-nav .dropdown-toggle {
    position: relative;
    border: 2px solid #000000;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 2px solid #000000;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    border-radius: 0;
    box-sizing: border-box;

    background-color: transparent;

    /* padding: 14px 50px; */
    width: 180px;
    height: 48px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.language-nav .dropdown-toggle:hover {
    background: #000000;
    color: #ffffff;
}

.modal-content {
    border-radius: 0;
}

.vdp-datepicker__calendar {
    margin: auto auto 20px auto;
    border: 0 !important;
}

.vdp-datepicker__calendar .cell.selected:hover,
.vdp-datepicker__calendar .cell.day:hover {
    background: #000000 !important;
    color: white;
    border: 1px solid black !important;
}

.vdp-datepicker__calendar .cell.blank:hover,
.vdp-datepicker__calendar .cell.disabled:hover {
    background: transparent !important;
    border: 0 !important;
}

.vdp-datepicker__calendar .cell.selected {
    background: #000000 !important;
    color: white;
}

@media screen and (max-width: 768px) {
    .language-nav {
        position: absolute;
        bottom: 2rem;
    }
}

@media screen and (max-width: 425px) {
    .language-nav {
        left: 45%;
        transform: translateX(-45%);
    }
}

@media screen and (max-width: 375px) {
    .language-nav {
        left: 40%;
        transform: translateX(-40%);
    }
}

@media screen and (max-width: 320px) {
    .language-nav {
        left: 30%;
        transform: translateX(-30%);
    }
}